# Format: NAME;COMMON_NAME;SAN
${REDIS_HOST};${REDIS_HOST};DNS:${REDIS_HOST},DNS:localhost,IP:127.0.0.1
${ES_HOST};${ES_HOST};DNS:${ES_HOST},DNS:localhost,IP:127.0.0.1
${KIBANA_HOST};${KIBANA_HOST};DNS:${KIBANA_HOST},DNS:localhost,IP:127.0.0.1
${API_HOST};${API_HOST};DNS:${API_HOST},DNS:localhost,IP:127.0.0.1
${MINIO_HOST};${MINIO_HOST};DNS:${MINIO_HOST},DNS:localhost,IP:127.0.0.1
${FRONTEND_HOST};${FRONTEND_HOST};DNS:${FRONTEND_HOST},DNS:localhost,IP:127.0.0.1
${METRICBEAT_HOST};${METRICBEAT_HOST};DNS:${METRICBEAT_HOST},DNS:localhost,IP:127.0.0.1
${CLIENT_CERT_NAME};${CLIENT_CERT_NAME};DNS:${CLIENT_CERT_NAME},DNS:localhost,IP:127.0.0.1
${TRAEFIK_HOST};${TRAEFIK_HOST};DNS:${TRAEFIK_HOST},DNS:localhost,IP:127.0.0.1
# External wildcard certificate for Traefik frontend TLS
external;${DOMAIN};DNS:${DOMAIN},DNS:*.${DOMAIN}
