# Rate Limiting Middleware
http:
  middlewares:
    rate-limit:
      rateLimit:
        average: 100
        burst: 50
        period: 1s
        sourceCriterion:
          ipStrategy:
            depth: 1

    rate-limit-strict:
      rateLimit:
        average: 20
        burst: 10
        period: 1s
        sourceCriterion:
          ipStrategy:
            depth: 1
