# CORS Middleware for API
http:
  middlewares:
    cors-api:
      headers:
        accessControlAllowMethods:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - OPTIONS
        accessControlAllowHeaders:
          - Content-Type
          - Authorization
          - X-Requested-With
          - Accept
          - Origin
        accessControlAllowOriginList:
          - "https://{{ env "DOMAIN" }}"
          - "http://localhost:9090"
          - "http://localhost:8080"
          - "http://127.0.0.1:9090"
          - "http://127.0.0.1:8080"
        accessControlMaxAge: 86400
        accessControlAllowCredentials: true
        addVaryHeader: true
