# CORS Middleware for API
http:
  middlewares:
    cors-api:
      headers:
        accessControlAllowMethods:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - OPTIONS
        accessControlAllowHeaders:
          - Content-Type
          - Authorization
          - X-Requested-With
          - Accept
          - Origin
        accessControlAllowOriginList:
          - "https://{{ env "DOMAIN" }}"
        accessControlMaxAge: 86400
        accessControlAllowCredentials: true
        addVaryHeader: true
